<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Djingo Video</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/botui/build/botui.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/botui/build/botui-theme-default.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/black.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<button><i class="fa fa-microphone"></i></button>
<div class="botui-app-container" id="djingo-video">
  <div class="navbar" >
    <div class="navorange"></div>
    <div class="navcontent">
      <div class="navtitle">
        <img src="images/djingo-en-ligne.png" alt="" height="32">
      </div>
    </div>
  </div>
  <bot-ui></bot-ui>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/vue/latest/vue.min.js"></script>
<script src="https://unpkg.com/botui/build/botui.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/script.js"></script>

</body>
</html>